.fright {
    float: right !important;
}

.no_margin {
    margin: 0 !important
}
.row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 85.7142857143rem;
    *zoom: 1
}

.row:before, .row:after {
    content: " ";
    display: table
}

.row:after {
    clear: both
}

.row.collapse > .column, .row.collapse > .columns {
    padding-left: 0;
    padding-right: 0;
    float: left
}

.row.collapse .row {
    margin-left: 0;
    margin-right: 0
}

.row.max {
    width: auto;
    max-width: none;
    *zoom: 1
}

.row.max:before, .row.max:after {
    content: " ";
    display: table
}

.row.max:after {
    clear: both
}

.row .row {
    width: auto;
    margin-left: -0.7142857143rem;
    margin-right: -0.7142857143rem;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    max-width: none;
    *zoom: 1
}

.row .row:before, .row .row:after {
    content: " ";
    display: table
}

.row .row:after {
    clear: both
}

.row .row.collapse {
    width: auto;
    margin: 0;
    padding: 0;
    max-width: none;
    *zoom: 1
}

.row .row.collapse:before, .row .row.collapse:after {
    content: " ";
    display: table
}

.row .row.collapse:after {
    clear: both
}

.column, .columns {
    padding-left: .7142857143rem;
    padding-right: .7142857143rem;
    width: 100%;
    float: left
}

@media only screen {
    .small-push-1 {
        left: 8.3333333333%;
        right: auto
    }

    .small-pull-1 {
        right: 8.3333333333%;
        left: auto
    }

    .small-push-2 {
        left: 16.6666666667%;
        right: auto
    }

    .small-pull-2 {
        right: 16.6666666667%;
        left: auto
    }

    .small-push-3 {
        left: 25%;
        right: auto
    }

    .small-pull-3 {
        right: 25%;
        left: auto
    }

    .small-push-4 {
        left: 33.3333333333%;
        right: auto
    }

    .small-pull-4 {
        right: 33.3333333333%;
        left: auto
    }

    .small-push-5 {
        left: 41.6666666667%;
        right: auto
    }

    .small-pull-5 {
        right: 41.6666666667%;
        left: auto
    }

    .small-push-6 {
        left: 50%;
        right: auto
    }

    .small-pull-6 {
        right: 50%;
        left: auto
    }

    .small-push-7 {
        left: 58.3333333333%;
        right: auto
    }

    .small-pull-7 {
        right: 58.3333333333%;
        left: auto
    }

    .small-push-8 {
        left: 66.6666666667%;
        right: auto
    }

    .small-pull-8 {
        right: 66.6666666667%;
        left: auto
    }

    .small-push-9 {
        left: 75%;
        right: auto
    }

    .small-pull-9 {
        right: 75%;
        left: auto
    }

    .small-push-10 {
        left: 83.3333333333%;
        right: auto
    }

    .small-pull-10 {
        right: 83.3333333333%;
        left: auto
    }

    .small-push-11 {
        left: 91.6666666667%;
        right: auto
    }

    .small-pull-11 {
        right: 91.6666666667%;
        left: auto
    }

    .column, .columns {
        padding-left: .7142857143rem;
        padding-right: .7142857143rem;
        float: left
    }

    .small-1 {
        width: 8.3333333333%
    }

    .small-2 {
        width: 16.6666666667%
    }

    .small-3 {
        width: 25%
    }

    .small-4 {
        width: 33.3333333333%
    }

    .small-5 {
        width: 41.6666666667%
    }

    .small-6 {
        width: 50%
    }

    .small-7 {
        width: 58.3333333333%
    }

    .small-8 {
        width: 66.6666666667%
    }

    .small-9 {
        width: 75%
    }

    .small-10 {
        width: 83.3333333333%
    }

    .small-11 {
        width: 91.6666666667%
    }

    .small-12 {
        width: 100%
    }

    .small-offset-0 {
        margin-left: 0
    }

    .small-offset-1 {
        margin-left: 8.3333333333%
    }

    .small-offset-2 {
        margin-left: 16.6666666667%
    }

    .small-offset-3 {
        margin-left: 25%
    }

    .small-offset-4 {
        margin-left: 33.3333333333%
    }

    .small-offset-5 {
        margin-left: 41.6666666667%
    }

    .small-offset-6 {
        margin-left: 50%
    }

    .small-offset-7 {
        margin-left: 58.3333333333%
    }

    .small-offset-8 {
        margin-left: 66.6666666667%
    }

    .small-offset-9 {
        margin-left: 75%
    }

    .small-offset-10 {
        margin-left: 83.3333333333%
    }

    [class*="column"] + [class*="column"]:last-child {
        float: right
    }

    [class*="column"] + [class*="column"].end {
        float: left
    }

    .column.small-centered, .columns.small-centered {
        margin-left: auto;
        margin-right: auto;
        float: none !important
    }

    .column.small-uncentered, .columns.small-uncentered {
        margin-left: 0;
        margin-right: 0;
        float: left !important
    }

    .column.small-uncentered.opposite, .columns.small-uncentered.opposite {
        float: right !important
    }

    .grid_1 {
        width: 100%;
        padding-left: .7142857143rem;
        padding-right: .7142857143rem;
        float: left
    }

    .grid_2 {
        width: 100%;
        padding-left: .7142857143rem;
        padding-right: .7142857143rem;
        float: left
    }

    .grid_3 {
        width: 100%;
        padding-left: .7142857143rem;
        padding-right: .7142857143rem;
        float: left
    }

    .grid_4 {
        width: 100%;
        padding-left: .7142857143rem;
        padding-right: .7142857143rem;
        float: left
    }

    .grid_5 {
        width: 100%;
        padding-left: .7142857143rem;
        padding-right: .7142857143rem;
        float: left
    }

    .grid_6 {
        width: 100%;
        padding-left: .7142857143rem;
        padding-right: .7142857143rem;
        float: left
    }

    .grid_7 {
        width: 100%;
        padding-left: .7142857143rem;
        padding-right: .7142857143rem;
        float: left
    }

    .grid_8 {
        width: 100%;
        padding-left: .7142857143rem;
        padding-right: .7142857143rem;
        float: left
    }

    .grid_9 {
        width: 100%;
        padding-left: .7142857143rem;
        padding-right: .7142857143rem;
        float: left
    }

    .grid_10 {
        width: 100%;
        padding-left: .7142857143rem;
        padding-right: .7142857143rem;
        float: left
    }

    .grid_11 {
        width: 100%;
        padding-left: .7142857143rem;
        padding-right: .7142857143rem;
        float: left
    }

    .grid_12 {
        width: 100%;
        padding-left: .7142857143rem;
        padding-right: .7142857143rem;
        float: left
    }

    [class*="grid_"] + [class*="grid_"]:last-child {
        float: right
    }

    [class*="grid_"] + [class*="grid_"].end {
        float: left
    }
}

@media only screen and (min-width: 30.063em) {
    .medium-push-1 {
        left: 8.3333333333%;
        right: auto
    }

    .medium-pull-1 {
        right: 8.3333333333%;
        left: auto
    }

    .medium-push-2 {
        left: 16.6666666667%;
        right: auto
    }

    .medium-pull-2 {
        right: 16.6666666667%;
        left: auto
    }

    .medium-push-3 {
        left: 25%;
        right: auto
    }

    .medium-pull-3 {
        right: 25%;
        left: auto
    }

    .medium-push-4 {
        left: 33.3333333333%;
        right: auto
    }

    .medium-pull-4 {
        right: 33.3333333333%;
        left: auto
    }

    .medium-push-5 {
        left: 41.6666666667%;
        right: auto
    }

    .medium-pull-5 {
        right: 41.6666666667%;
        left: auto
    }

    .medium-push-6 {
        left: 50%;
        right: auto
    }

    .medium-pull-6 {
        right: 50%;
        left: auto
    }

    .medium-push-7 {
        left: 58.3333333333%;
        right: auto
    }

    .medium-pull-7 {
        right: 58.3333333333%;
        left: auto
    }

    .medium-push-8 {
        left: 66.6666666667%;
        right: auto
    }

    .medium-pull-8 {
        right: 66.6666666667%;
        left: auto
    }

    .medium-push-9 {
        left: 75%;
        right: auto
    }

    .medium-pull-9 {
        right: 75%;
        left: auto
    }

    .medium-push-10 {
        left: 83.3333333333%;
        right: auto
    }

    .medium-pull-10 {
        right: 83.3333333333%;
        left: auto
    }

    .medium-push-11 {
        left: 91.6666666667%;
        right: auto
    }

    .medium-pull-11 {
        right: 91.6666666667%;
        left: auto
    }

    .column, .columns {
        padding-left: .7142857143rem;
        padding-right: .7142857143rem;
        float: left
    }

    .medium-1 {
        width: 8.3333333333%
    }

    .medium-2 {
        width: 16.6666666667%
    }

    .medium-3 {
        width: 25%
    }

    .medium-4 {
        width: 33.3333333333%
    }

    .medium-5 {
        width: 41.6666666667%
    }

    .medium-6 {
        width: 50%
    }

    .medium-7 {
        width: 58.3333333333%
    }

    .medium-8 {
        width: 66.6666666667%
    }

    .medium-9 {
        width: 75%
    }

    .medium-10 {
        width: 83.3333333333%
    }

    .medium-11 {
        width: 91.6666666667%
    }

    .medium-12 {
        width: 100%
    }

    .medium-offset-0 {
        margin-left: 0
    }

    .medium-offset-1 {
        margin-left: 8.3333333333%
    }

    .medium-offset-2 {
        margin-left: 16.6666666667%
    }

    .medium-offset-3 {
        margin-left: 25%
    }

    .medium-offset-4 {
        margin-left: 33.3333333333%
    }

    .medium-offset-5 {
        margin-left: 41.6666666667%
    }

    .medium-offset-6 {
        margin-left: 50%
    }

    .medium-offset-7 {
        margin-left: 58.3333333333%
    }

    .medium-offset-8 {
        margin-left: 66.6666666667%
    }

    .medium-offset-9 {
        margin-left: 75%
    }

    .medium-offset-10 {
        margin-left: 83.3333333333%
    }

    [class*="column"] + [class*="column"]:last-child {
        float: right
    }

    [class*="column"] + [class*="column"].end {
        float: left
    }

    .column.medium-centered, .columns.medium-centered {
        margin-left: auto;
        margin-right: auto;
        float: none !important
    }

    .column.medium-uncentered, .columns.medium-uncentered {
        margin-left: 0;
        margin-right: 0;
        float: left !important
    }

    .column.medium-uncentered.opposite, .columns.medium-uncentered.opposite {
        float: right !important
    }

    .push-1 {
        left: 8.3333333333%;
        right: auto
    }

    .pull-1 {
        right: 8.3333333333%;
        left: auto
    }

    .push-2 {
        left: 16.6666666667%;
        right: auto
    }

    .pull-2 {
        right: 16.6666666667%;
        left: auto
    }

    .push-3 {
        left: 25%;
        right: auto
    }

    .pull-3 {
        right: 25%;
        left: auto
    }

    .push-4 {
        left: 33.3333333333%;
        right: auto
    }

    .pull-4 {
        right: 33.3333333333%;
        left: auto
    }

    .push-5 {
        left: 41.6666666667%;
        right: auto
    }

    .pull-5 {
        right: 41.6666666667%;
        left: auto
    }

    .push-6 {
        left: 50%;
        right: auto
    }

    .pull-6 {
        right: 50%;
        left: auto
    }

    .push-7 {
        left: 58.3333333333%;
        right: auto
    }

    .pull-7 {
        right: 58.3333333333%;
        left: auto
    }

    .push-8 {
        left: 66.6666666667%;
        right: auto
    }

    .pull-8 {
        right: 66.6666666667%;
        left: auto
    }

    .push-9 {
        left: 75%;
        right: auto
    }

    .pull-9 {
        right: 75%;
        left: auto
    }

    .push-10 {
        left: 83.3333333333%;
        right: auto
    }

    .pull-10 {
        right: 83.3333333333%;
        left: auto
    }

    .push-11 {
        left: 91.6666666667%;
        right: auto
    }

    .pull-11 {
        right: 91.6666666667%;
        left: auto
    }
}

@media only screen and (min-width: 48.063em) {
    .plus-push-1 {
        left: 8.3333333333%;
        right: auto
    }

    .plus-pull-1 {
        right: 8.3333333333%;
        left: auto
    }

    .plus-push-2 {
        left: 16.6666666667%;
        right: auto
    }

    .plus-pull-2 {
        right: 16.6666666667%;
        left: auto
    }

    .plus-push-3 {
        left: 25%;
        right: auto
    }

    .plus-pull-3 {
        right: 25%;
        left: auto
    }

    .plus-push-4 {
        left: 33.3333333333%;
        right: auto
    }

    .plus-pull-4 {
        right: 33.3333333333%;
        left: auto
    }

    .plus-push-5 {
        left: 41.6666666667%;
        right: auto
    }

    .plus-pull-5 {
        right: 41.6666666667%;
        left: auto
    }

    .plus-push-6 {
        left: 50%;
        right: auto
    }

    .plus-pull-6 {
        right: 50%;
        left: auto
    }

    .plus-push-7 {
        left: 58.3333333333%;
        right: auto
    }

    .plus-pull-7 {
        right: 58.3333333333%;
        left: auto
    }

    .plus-push-8 {
        left: 66.6666666667%;
        right: auto
    }

    .plus-pull-8 {
        right: 66.6666666667%;
        left: auto
    }

    .plus-push-9 {
        left: 75%;
        right: auto
    }

    .plus-pull-9 {
        right: 75%;
        left: auto
    }

    .plus-push-10 {
        left: 83.3333333333%;
        right: auto
    }

    .plus-pull-10 {
        right: 83.3333333333%;
        left: auto
    }

    .plus-push-11 {
        left: 91.6666666667%;
        right: auto
    }

    .plus-pull-11 {
        right: 91.6666666667%;
        left: auto
    }

    .column, .columns {
        padding-left: .7142857143rem;
        padding-right: .7142857143rem;
        float: left
    }

    .plus-1 {
        width: 8.3333333333%
    }

    .plus-2 {
        width: 16.6666666667%
    }

    .plus-3 {
        width: 25%
    }

    .plus-4 {
        width: 33.3333333333%
    }

    .plus-5 {
        width: 41.6666666667%
    }

    .plus-6 {
        width: 50%
    }

    .plus-7 {
        width: 58.3333333333%
    }

    .plus-8 {
        width: 66.6666666667%
    }

    .plus-9 {
        width: 75%
    }

    .plus-10 {
        width: 83.3333333333%
    }

    .plus-11 {
        width: 91.6666666667%
    }

    .plus-12 {
        width: 100%
    }

    .plus-offset-0 {
        margin-left: 0
    }

    .plus-offset-1 {
        margin-left: 8.3333333333%
    }

    .plus-offset-2 {
        margin-left: 16.6666666667%
    }

    .plus-offset-3 {
        margin-left: 25%
    }

    .plus-offset-4 {
        margin-left: 33.3333333333%
    }

    .plus-offset-5 {
        margin-left: 41.6666666667%
    }

    .plus-offset-6 {
        margin-left: 50%
    }

    .plus-offset-7 {
        margin-left: 58.3333333333%
    }

    .plus-offset-8 {
        margin-left: 66.6666666667%
    }

    .plus-offset-9 {
        margin-left: 75%
    }

    .plus-offset-10 {
        margin-left: 83.3333333333%
    }

    [class*="column"] + [class*="column"]:last-child {
        float: right
    }

    [class*="column"] + [class*="column"].end {
        float: left
    }

    .column.plus-centered, .columns.plus-centered {
        margin-left: auto;
        margin-right: auto;
        float: none !important
    }

    .column.plus-uncentered, .columns.plus-uncentered {
        margin-left: 0;
        margin-right: 0;
        float: left !important
    }

    .column.plus-uncentered.opposite, .columns.plus-uncentered.opposite {
        float: right !important
    }
}

@media only screen and (min-width: 768px) {
    .grid_1 {
        width: 8.3333333333%;
        padding-left: .7142857143rem;
        padding-right: .7142857143rem;
        float: left
    }

    .grid_2 {
        width: 16.6666666667%;
        padding-left: .7142857143rem;
        padding-right: .7142857143rem;
        float: left
    }

    .grid_3 {
        width: 25%;
        padding-left: .7142857143rem;
        padding-right: .7142857143rem;
        float: left
    }

    .grid_4 {
        width: 33.3333333333%;
        padding-left: .7142857143rem;
        padding-right: .7142857143rem;
        float: left
    }

    .grid_5 {
        width: 41.6666666667%;
        padding-left: .7142857143rem;
        padding-right: .7142857143rem;
        float: left
    }

    .grid_6 {
        width: 50%;
        padding-left: .7142857143rem;
        padding-right: .7142857143rem;
        float: left
    }

    .grid_7 {
        width: 58.3333333333%;
        padding-left: .7142857143rem;
        padding-right: .7142857143rem;
        float: left
    }

    .grid_8 {
        width: 66.6666666667%;
        padding-left: .7142857143rem;
        padding-right: .7142857143rem;
        float: left
    }

    .grid_9 {
        width: 75%;
        padding-left: .7142857143rem;
        padding-right: .7142857143rem;
        float: left
    }

    .grid_10 {
        width: 83.3333333333%;
        padding-left: .7142857143rem;
        padding-right: .7142857143rem;
        float: left
    }

    .grid_11 {
        width: 91.6666666667%;
        padding-left: .7142857143rem;
        padding-right: .7142857143rem;
        float: left
    }

    .grid_12 {
        width: 100%;
        padding-left: .7142857143rem;
        padding-right: .7142857143rem;
        float: left
    }

    [class*="grid_"] + [class*="grid_"]:last-child {
        float: right
    }

    [class*="grid_"] + [class*="grid_"].end {
        float: left
    }
}

@media only screen and (min-width: 64.063em) {
    .large-push-1 {
        left: 8.3333333333%;
        right: auto
    }

    .large-pull-1 {
        right: 8.3333333333%;
        left: auto
    }

    .large-push-2 {
        left: 16.6666666667%;
        right: auto
    }

    .large-pull-2 {
        right: 16.6666666667%;
        left: auto
    }

    .large-push-3 {
        left: 25%;
        right: auto
    }

    .large-pull-3 {
        right: 25%;
        left: auto
    }

    .large-push-4 {
        left: 33.3333333333%;
        right: auto
    }

    .large-pull-4 {
        right: 33.3333333333%;
        left: auto
    }

    .large-push-5 {
        left: 41.6666666667%;
        right: auto
    }

    .large-pull-5 {
        right: 41.6666666667%;
        left: auto
    }

    .large-push-6 {
        left: 50%;
        right: auto
    }

    .large-pull-6 {
        right: 50%;
        left: auto
    }

    .large-push-7 {
        left: 58.3333333333%;
        right: auto
    }

    .large-pull-7 {
        right: 58.3333333333%;
        left: auto
    }

    .large-push-8 {
        left: 66.6666666667%;
        right: auto
    }

    .large-pull-8 {
        right: 66.6666666667%;
        left: auto
    }

    .large-push-9 {
        left: 75%;
        right: auto
    }

    .large-pull-9 {
        right: 75%;
        left: auto
    }

    .large-push-10 {
        left: 83.3333333333%;
        right: auto
    }

    .large-pull-10 {
        right: 83.3333333333%;
        left: auto
    }

    .large-push-11 {
        left: 91.6666666667%;
        right: auto
    }

    .large-pull-11 {
        right: 91.6666666667%;
        left: auto
    }

    .column, .columns {
        padding-left: .7142857143rem;
        padding-right: .7142857143rem;
        float: left
    }

    .large-1 {
        width: 8.3333333333%
    }

    .large-2 {
        width: 16.6666666667%
    }

    .large-3 {
        width: 25%
    }

    .large-4 {
        width: 33.3333333333%
    }

    .large-5 {
        width: 41.6666666667%
    }

    .large-6 {
        width: 50%
    }

    .large-7 {
        width: 58.3333333333%
    }

    .large-8 {
        width: 66.6666666667%
    }

    .large-9 {
        width: 75%
    }

    .large-10 {
        width: 83.3333333333%
    }

    .large-11 {
        width: 91.6666666667%
    }

    .large-12 {
        width: 100%
    }

    .large-offset-0 {
        margin-left: 0
    }

    .large-offset-1 {
        margin-left: 8.3333333333%
    }

    .large-offset-2 {
        margin-left: 16.6666666667%
    }

    .large-offset-3 {
        margin-left: 25%
    }

    .large-offset-4 {
        margin-left: 33.3333333333%
    }

    .large-offset-5 {
        margin-left: 41.6666666667%
    }

    .large-offset-6 {
        margin-left: 50%
    }

    .large-offset-7 {
        margin-left: 58.3333333333%
    }

    .large-offset-8 {
        margin-left: 66.6666666667%
    }

    .large-offset-9 {
        margin-left: 75%
    }

    .large-offset-10 {
        margin-left: 83.3333333333%
    }

    [class*="column"] + [class*="column"]:last-child {
        float: right
    }

    [class*="column"] + [class*="column"].end {
        float: left
    }

    .column.large-centered, .columns.large-centered {
        margin-left: auto;
        margin-right: auto;
        float: none !important
    }

    .column.large-uncentered, .columns.large-uncentered {
        margin-left: 0;
        margin-right: 0;
        float: left !important
    }

    .column.large-uncentered.opposite, .columns.large-uncentered.opposite {
        float: right !important
    }
}

@media only screen and (min-width: 90.063em) {
    .xlarge-push-1 {
        left: 8.3333333333%;
        right: auto
    }

    .xlarge-pull-1 {
        right: 8.3333333333%;
        left: auto
    }

    .xlarge-push-2 {
        left: 16.6666666667%;
        right: auto
    }

    .xlarge-pull-2 {
        right: 16.6666666667%;
        left: auto
    }

    .xlarge-push-3 {
        left: 25%;
        right: auto
    }

    .xlarge-pull-3 {
        right: 25%;
        left: auto
    }

    .xlarge-push-4 {
        left: 33.3333333333%;
        right: auto
    }

    .xlarge-pull-4 {
        right: 33.3333333333%;
        left: auto
    }

    .xlarge-push-5 {
        left: 41.6666666667%;
        right: auto
    }

    .xlarge-pull-5 {
        right: 41.6666666667%;
        left: auto
    }

    .xlarge-push-6 {
        left: 50%;
        right: auto
    }

    .xlarge-pull-6 {
        right: 50%;
        left: auto
    }

    .xlarge-push-7 {
        left: 58.3333333333%;
        right: auto
    }

    .xlarge-pull-7 {
        right: 58.3333333333%;
        left: auto
    }

    .xlarge-push-8 {
        left: 66.6666666667%;
        right: auto
    }

    .xlarge-pull-8 {
        right: 66.6666666667%;
        left: auto
    }

    .xlarge-push-9 {
        left: 75%;
        right: auto
    }

    .xlarge-pull-9 {
        right: 75%;
        left: auto
    }

    .xlarge-push-10 {
        left: 83.3333333333%;
        right: auto
    }

    .xlarge-pull-10 {
        right: 83.3333333333%;
        left: auto
    }

    .xlarge-push-11 {
        left: 91.6666666667%;
        right: auto
    }

    .xlarge-pull-11 {
        right: 91.6666666667%;
        left: auto
    }

    .column, .columns {
        padding-left: .7142857143rem;
        padding-right: .7142857143rem;
        float: left
    }

    .xlarge-1 {
        width: 8.3333333333%
    }

    .xlarge-2 {
        width: 16.6666666667%
    }

    .xlarge-3 {
        width: 25%
    }

    .xlarge-4 {
        width: 33.3333333333%
    }

    .xlarge-5 {
        width: 41.6666666667%
    }

    .xlarge-6 {
        width: 50%
    }

    .xlarge-7 {
        width: 58.3333333333%
    }

    .xlarge-8 {
        width: 66.6666666667%
    }

    .xlarge-9 {
        width: 75%
    }

    .xlarge-10 {
        width: 83.3333333333%
    }

    .xlarge-11 {
        width: 91.6666666667%
    }

    .xlarge-12 {
        width: 100%
    }

    .xlarge-offset-0 {
        margin-left: 0
    }

    .xlarge-offset-1 {
        margin-left: 8.3333333333%
    }

    .xlarge-offset-2 {
        margin-left: 16.6666666667%
    }

    .xlarge-offset-3 {
        margin-left: 25%
    }

    .xlarge-offset-4 {
        margin-left: 33.3333333333%
    }

    .xlarge-offset-5 {
        margin-left: 41.6666666667%
    }

    .xlarge-offset-6 {
        margin-left: 50%
    }

    .xlarge-offset-7 {
        margin-left: 58.3333333333%
    }

    .xlarge-offset-8 {
        margin-left: 66.6666666667%
    }

    .xlarge-offset-9 {
        margin-left: 75%
    }

    .xlarge-offset-10 {
        margin-left: 83.3333333333%
    }

    [class*="column"] + [class*="column"]:last-child {
        float: right
    }

    [class*="column"] + [class*="column"].end {
        float: left
    }

    .column.xlarge-centered, .columns.xlarge-centered {
        margin-left: auto;
        margin-right: auto;
        float: none !important
    }

    .column.xlarge-uncentered, .columns.xlarge-uncentered {
        margin-left: 0;
        margin-right: 0;
        float: left !important
    }

    .column.xlarge-uncentered.opposite, .columns.xlarge-uncentered.opposite {
        float: right !important
    }
}

@media only screen and (min-width: 120.063em) {
    .xxlarge-push-1 {
        left: 8.3333333333%;
        right: auto
    }

    .xxlarge-pull-1 {
        right: 8.3333333333%;
        left: auto
    }

    .xxlarge-push-2 {
        left: 16.6666666667%;
        right: auto
    }

    .xxlarge-pull-2 {
        right: 16.6666666667%;
        left: auto
    }

    .xxlarge-push-3 {
        left: 25%;
        right: auto
    }

    .xxlarge-pull-3 {
        right: 25%;
        left: auto
    }

    .xxlarge-push-4 {
        left: 33.3333333333%;
        right: auto
    }

    .xxlarge-pull-4 {
        right: 33.3333333333%;
        left: auto
    }

    .xxlarge-push-5 {
        left: 41.6666666667%;
        right: auto
    }

    .xxlarge-pull-5 {
        right: 41.6666666667%;
        left: auto
    }

    .xxlarge-push-6 {
        left: 50%;
        right: auto
    }

    .xxlarge-pull-6 {
        right: 50%;
        left: auto
    }

    .xxlarge-push-7 {
        left: 58.3333333333%;
        right: auto
    }

    .xxlarge-pull-7 {
        right: 58.3333333333%;
        left: auto
    }

    .xxlarge-push-8 {
        left: 66.6666666667%;
        right: auto
    }

    .xxlarge-pull-8 {
        right: 66.6666666667%;
        left: auto
    }

    .xxlarge-push-9 {
        left: 75%;
        right: auto
    }

    .xxlarge-pull-9 {
        right: 75%;
        left: auto
    }

    .xxlarge-push-10 {
        left: 83.3333333333%;
        right: auto
    }

    .xxlarge-pull-10 {
        right: 83.3333333333%;
        left: auto
    }

    .xxlarge-push-11 {
        left: 91.6666666667%;
        right: auto
    }

    .xxlarge-pull-11 {
        right: 91.6666666667%;
        left: auto
    }

    .column, .columns {
        padding-left: .7142857143rem;
        padding-right: .7142857143rem;
        float: left
    }

    .xxlarge-1 {
        width: 8.3333333333%
    }

    .xxlarge-2 {
        width: 16.6666666667%
    }

    .xxlarge-3 {
        width: 25%
    }

    .xxlarge-4 {
        width: 33.3333333333%
    }

    .xxlarge-5 {
        width: 41.6666666667%
    }

    .xxlarge-6 {
        width: 50%
    }

    .xxlarge-7 {
        width: 58.3333333333%
    }

    .xxlarge-8 {
        width: 66.6666666667%
    }

    .xxlarge-9 {
        width: 75%
    }

    .xxlarge-10 {
        width: 83.3333333333%
    }

    .xxlarge-11 {
        width: 91.6666666667%
    }

    .xxlarge-12 {
        width: 100%
    }

    .xxlarge-offset-0 {
        margin-left: 0
    }

    .xxlarge-offset-1 {
        margin-left: 8.3333333333%
    }

    .xxlarge-offset-2 {
        margin-left: 16.6666666667%
    }

    .xxlarge-offset-3 {
        margin-left: 25%
    }

    .xxlarge-offset-4 {
        margin-left: 33.3333333333%
    }

    .xxlarge-offset-5 {
        margin-left: 41.6666666667%
    }

    .xxlarge-offset-6 {
        margin-left: 50%
    }

    .xxlarge-offset-7 {
        margin-left: 58.3333333333%
    }

    .xxlarge-offset-8 {
        margin-left: 66.6666666667%
    }

    .xxlarge-offset-9 {
        margin-left: 75%
    }

    .xxlarge-offset-10 {
        margin-left: 83.3333333333%
    }

    [class*="column"] + [class*="column"]:last-child {
        float: right
    }

    [class*="column"] + [class*="column"].end {
        float: left
    }

    .column.xxlarge-centered, .columns.xxlarge-centered {
        margin-left: auto;
        margin-right: auto;
        float: none !important
    }

    .column.xxlarge-uncentered, .columns.xxlarge-uncentered {
        margin-left: 0;
        margin-right: 0;
        float: left !important
    }

    .column.xxlarge-uncentered.opposite, .columns.xxlarge-uncentered.opposite {
        float: right !important
    }

    .max-push-1 {
        left: 8.3333333333%;
        right: auto
    }

    .max-pull-1 {
        right: 8.3333333333%;
        left: auto
    }

    .max-push-2 {
        left: 16.6666666667%;
        right: auto
    }

    .max-pull-2 {
        right: 16.6666666667%;
        left: auto
    }

    .max-push-3 {
        left: 25%;
        right: auto
    }

    .max-pull-3 {
        right: 25%;
        left: auto
    }

    .max-push-4 {
        left: 33.3333333333%;
        right: auto
    }

    .max-pull-4 {
        right: 33.3333333333%;
        left: auto
    }

    .max-push-5 {
        left: 41.6666666667%;
        right: auto
    }

    .max-pull-5 {
        right: 41.6666666667%;
        left: auto
    }

    .max-push-6 {
        left: 50%;
        right: auto
    }

    .max-pull-6 {
        right: 50%;
        left: auto
    }

    .max-push-7 {
        left: 58.3333333333%;
        right: auto
    }

    .max-pull-7 {
        right: 58.3333333333%;
        left: auto
    }

    .max-push-8 {
        left: 66.6666666667%;
        right: auto
    }

    .max-pull-8 {
        right: 66.6666666667%;
        left: auto
    }

    .max-push-9 {
        left: 75%;
        right: auto
    }

    .max-pull-9 {
        right: 75%;
        left: auto
    }

    .max-push-10 {
        left: 83.3333333333%;
        right: auto
    }

    .max-pull-10 {
        right: 83.3333333333%;
        left: auto
    }

    .max-push-11 {
        left: 91.6666666667%;
        right: auto
    }

    .max-pull-11 {
        right: 91.6666666667%;
        left: auto
    }

    .column, .columns {
        padding-left: .7142857143rem;
        padding-right: .7142857143rem;
        float: left
    }

    .max-1 {
        width: 8.3333333333%
    }

    .max-2 {
        width: 16.6666666667%
    }

    .max-3 {
        width: 25%
    }

    .max-4 {
        width: 33.3333333333%
    }

    .max-5 {
        width: 41.6666666667%
    }

    .max-6 {
        width: 50%
    }

    .max-7 {
        width: 58.3333333333%
    }

    .max-8 {
        width: 66.6666666667%
    }

    .max-9 {
        width: 75%
    }

    .max-10 {
        width: 83.3333333333%
    }

    .max-11 {
        width: 91.6666666667%
    }

    .max-12 {
        width: 100%
    }

    .max-offset-0 {
        margin-left: 0
    }

    .max-offset-1 {
        margin-left: 8.3333333333%
    }

    .max-offset-2 {
        margin-left: 16.6666666667%
    }

    .max-offset-3 {
        margin-left: 25%
    }

    .max-offset-4 {
        margin-left: 33.3333333333%
    }

    .max-offset-5 {
        margin-left: 41.6666666667%
    }

    .max-offset-6 {
        margin-left: 50%
    }

    .max-offset-7 {
        margin-left: 58.3333333333%
    }

    .max-offset-8 {
        margin-left: 66.6666666667%
    }

    .max-offset-9 {
        margin-left: 75%
    }

    .max-offset-10 {
        margin-left: 83.3333333333%
    }

    [class*="column"] + [class*="column"]:last-child {
        float: right
    }

    [class*="column"] + [class*="column"].end {
        float: left
    }

    .column.max-centered, .columns.max-centered {
        margin-left: auto;
        margin-right: auto;
        float: none !important
    }

    .column.max-uncentered, .columns.max-uncentered {
        margin-left: 0;
        margin-right: 0;
        float: left !important
    }

    .column.max-uncentered.opposite, .columns.max-uncentered.opposite {
        float: right !important
    }
}


